# idea options
.idea/

# pre-commit settings
.pre-commit-config.yaml

# dev databases
db.sqlite3
test.sqlite3

# pytests
*__pycache__/

# coverage
.coverage
coverage.xml

# env variables
.env

# docker
Dockerfile
docker-compose.yml